GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET=360-field-check-media-sgb
FIRESTORE_PROJECT_ID=space360-114433
FIRESTORE_COLLECTION=jobs
FFMPEG_PATH=C:\ffmpeg\bin\ffmpeg.exe
FFPROBE_PATH=C:\ffmpeg\bin\ffprobe.exe
EXIFTOOL_PATH=F:\exiftool\exiftool.exe
METADATA_DEBUG_LOG=F:\Space360\modules\insta360\logs\metadata_debug.log
STITCHER_DEBUG_LOG=F:\Space360\modules\insta360\logs\stitcher_debug.log
